
@layer base {
    [contenteditable]:focus {
      outline: none;
    }
  }
  
  .ProseMirror {
    min-height: 300px;
    padding: 1rem;
  }
  
  .ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  
  .ProseMirror ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }
  
  .ProseMirror ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }
  
  .ProseMirror h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .ProseMirror h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .ProseMirror h3 {
    font-size: 1.17em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .ProseMirror h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  
  .ProseMirror table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }
  .ProseMirror td,
  .ProseMirror th {
    border: 2px solid #ced4da;
    box-sizing: border-box;
    min-width: 1em;
    height: 2rem; /* min-height is not working*/
    padding: 3px 5px;
    position: relative;
    vertical-align: top;
  }


  .ProseMirror th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: left;
  }
  
  .ProseMirror .selectedCell:after {
    background: rgba(200, 200, 255, 0.4);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }
  
  .ProseMirror ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
  }
  
  .ProseMirror ul[data-type="taskList"] li {
    display: flex;
    align-items: center;
  }
  
  .ProseMirror ul[data-type="taskList"] li > label {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    user-select: none;
    display: flex;
  }
  
  .ProseMirror ul[data-type="taskList"] li > div {
    flex: 1 1 auto;
  }
  
  .ProseMirror blockquote {
    border-left: 4px solid #e9ecef;
    margin: 1rem 0;
    padding-left: 1rem;
    font-style: italic;
    color: #6c757d;
  }
  
  input[type="color"] {
      -webkit-appearance: none;
      border: none;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
      border: none;
  }